.footer {
  background-color: #151515;
  padding: 50px 0 32px;
  color: #fff;
  &__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  &__menu {
  }
  &__menu-list {
    max-width: 250px;
  }
  &__menu-item {
    & + .footer__menu-item {
      padding-top: 20px;
    }
  }
  &__menu-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  &__menu-link {
  }
}

.app {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 52px;
}

.footer__copy {
  max-width: 808px;
  text-align: center;
  margin: 0 auto 30px;
  font-size: 12px;
}
.footer__copy-text {
}
.copy__nav {
}
.copy__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.copy__nav-item {
}
.copy__nav-link {
}
