.header {
  background-color: #151515;
  &__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-main {
    background-color: transparent;
    position: absolute;
    z-index: 6;
    left: 0;
    right: 0;
  }
}
.menu__list {
  display: flex;
  gap: 35px;
  &-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.menu__list-link--active {
  color: rgb(0, 102, 255);
}
